[Unit]
Description=Blocca lo schermo al sospendere
After=suspend.target
After=hibernate.target

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/USER/.config/lockscreenservice/lock.sh

[Install]
WantedBy=sleep.target
